body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.room {
  height: 100vh;
}

.white {
  background-color: white;
}
.black {
  background-color: black;
}
.black1 {
  background-color: pink;
}
.colorwhite {
  color: white;
}
.colorblack {
  color: black;
}
.plus {
  background-color: #68c250;
  border-radius: 50px;
  width: 50px;
}
.minus {
  background-color: #e73b3b;
  border-radius: 50px;
  width: 50px;
}
