body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.room {
  height: 50vh;
}

.white {
  background-color: white;
}
.black {
  background-color: black;
}
.black1 {
  background-color: pink;
}
/* .switchbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
} */
